DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin123

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Keycloak Environment
KC_DB=postgres
KC_DB_URL_HOST=postgres
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=postgres
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres
KC_HOSTNAME=localhost
KC_PROXY=edge
KC_HTTP_ENABLED=true

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123


