# Example environment variables for Postgres (fill these in)
DATABASE_URL="your_database_url_here"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

PGADMIN_DEFAULT_EMAIL=your@email.com
PGADMIN_DEFAULT_PASSWORD=your_password

# Keycloak Environment
KC_DB=postgres (if using postgres as DB for Keycloak)
KC_DB_URL_HOST=postgres
KC_DB_URL_PORT=port_number (e.g., 5000)
KC_DB_URL_DATABASE= POSTGRES_DB (postgres)
KC_DB_USERNAME= POSTGRES_USER (postgres)
KC_DB_PASSWORD= POSTGRES_PASSWORD (postgres)
KC_HOSTNAME=localhost
KC_PROXY=edge
KC_HTTP_ENABLED=true

KEYCLOAK_ADMIN=keycloak_admin_username
KEYCLOAK_ADMIN_PASSWORD=keycloak_admin_password