# Application
PORT=3000
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:4200

# Keycloak
KEYCLOAK_ISSUER=http://localhost:8081/realms/sport-archive
KEYCLOAK_JWKS_URI=http://localhost:8081/realms/sport-archive/protocol/openid-connect/certs