# Application
PORT=your_port(e.g., 3000)
NODE_ENV=development

# CORS
FRONTEND_URL=your_frontend_url(e.g., http://localhost:4000)

# Keycloak
KEYCLOAK_ISSUER=http://your_keycloak_host:your_keycloak_port/realms/your_realm
KEYCLOAK_JWKS_URI=http://your_keycloak_host:your_keycloak_port/realms/your_realm/protocol/openid-connect/certs