<div class="content-types-form p-4 max-w-screen-lg mx-auto">
  <div class="max-w-md mx-auto">
    <div class="mb-6 text-center">
      <h2 class="text-3xl font-bold m-0 text-900">
        {{ this.isEditMode() ? 'Edit Content Type' : 'Create New Content Type' }}
      </h2>
      <p class="text-color-secondary mt-2 text-lg">
        {{
          isEditMode() ? 'Update content type information' : 'Add a new content type to the system'
        }}
      </p>
    </div>

    @if (isLoading()) {
      <app-loading-spinner />
    }

    <p-card [class.opacity-50]="isLoading()">
      <ng-template pTemplate="content">
        <form [formGroup]="contentTypeForm" (ngSubmit)="onSubmit()">
          <div class="field mb-4">
            <label for="name" class="block font-medium mb-2"> Content Type Name * </label>
            <input
              id="name"
              type="text"
              pInputText
              formControlName="name"
              placeholder="Enter content type name (e.g., Article, Video, Podcast)"
              class="w-full"
              autocomplete="off"
            />
            @if (
              contentTypeForm.get('name')?.hasError('required') &&
              contentTypeForm.get('name')?.dirty &&
              contentTypeForm.get('name')?.invalid
            ) {
              <span
                class="mt-4 rounded-md py-3 px-4 block text-red-500 font-medium bg-[rgb(220,53,69)]/10 border-l-4 border-l-[#dc3545]"
              >
                This field is required!
              </span>
            }
            @if (
              contentTypeForm.get('name')?.hasError('minlength') &&
              contentTypeForm.get('name')?.dirty &&
              contentTypeForm.get('name')?.invalid
            ) {
              <span
                class="mt-4 rounded-md py-3 px-4 block text-red-500 font-medium bg-[rgb(220,53,69)]/10 border-l-4 border-l-[#dc3545]"
              >
                This field must be at least 2 characters long!
              </span>
            }
          </div>

          <div class="flex gap-2 justify-content-end pt-4">
            <p-button
              type="button"
              label="Cancel"
              severity="secondary"
              [outlined]="true"
              (onClick)="navigateToContentTypesList()"
              [disabled]="isLoading()"
            >
            </p-button>

            <p-button
              type="submit"
              [label]="this.isEditMode() ? 'Update Content Type' : 'Create Content Type'"
              [loading]="isLoading()"
              [disabled]="
                contentTypeForm.invalid ||
                (isEditMode() && contentTypeForm.controls.name.dirty === false)
              "
              icon="pi pi-check"
            >
            </p-button>
          </div>
        </form>
      </ng-template>
    </p-card>
  </div>
</div>

<p-toast />
