<div class="cms-dashboard">
  <p-drawer
    position="left"
    [modal]="true"
    [style]="{ width: '300px' }"
    [(visible)]="sidebarVisible"
  >
    <ng-template pTemplate="header">
      <span class="text-xl font-semibold">Manage</span>
    </ng-template>
    <ng-template pTemplate="content">
      <ul class="m-0 list-none p-0">
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-book mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['/cms/records'])"
            >
              Records
            </button>
          </a>
        </li>
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-crown mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['/cms/clubs'])"
            >
              Clubs
            </button>
          </a>
        </li>
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-trophy mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['/cms/sports'])"
            >
              Sports
            </button>
          </a>
        </li>
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-globe mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['/cms/national-teams'])"
            >
              National Teams
            </button>
          </a>
        </li>
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-stopwatch mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['cms/competitions'])"
            >
              Competitions
            </button>
          </a>
        </li>
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-pen-to-square mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['cms/content-types'])"
            >
              Content Types
            </button>
          </a>
        </li>
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-link mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['cms/media-sources'])"
            >
              Media Sources
            </button>
          </a>
        </li>
        <li class="mb-3">
          <a class="align-items-center border-round text-700 flex cursor-pointer p-3">
            <i class="pi pi-user mr-2"></i>
            <button
              class="cursor-pointer hover:underline"
              (click)="this.router.navigate(['cms/persons'])"
            >
              Persons
            </button>
          </a>
        </li>
      </ul>
    </ng-template>
  </p-drawer>

  <div class="w-screen-xl mx-auto">
    <div
      class="align-items-center surface-0 border-bottom-1 surface-border sticky top-0 z-1 flex gap-3 p-4"
    >
      <p-button
        icon="pi pi-bars"
        severity="secondary"
        [rounded]="true"
        [text]="true"
        (click)="sidebarVisible.set(true)"
      />
      <div class="align-items-center flex gap-3">
        <h1 class="text-900 m-0 text-4xl font-bold">Dashboard</h1>
      </div>
    </div>

    <div class="p-4">
      <app-media-news />
    </div>
  </div>
</div>
